.header__logo {
  background-color: #b0c4bd; }

.header__menu--color {
  color: #ffffff; }

.navbar-light .navbar-nav .nav-link {
  color: #ffffff; }

input[type="submit" i] {
  background: #ffffff; }

footer {
  background-color: #b0c4bd; }

.body__fuente {
  font-family: "Raleway", sans-serif;
  font-size: 18px; }

.container div h3 {
  font-family: "Parisienne", cursive;
  font-size: 30px; }

footer {
  font-size: 18px; }
  footer h4 {
    font-size: 15px; }

* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  margin-bottom: 50px; }

.container {
  display: flex;
  justify-content: center;
  align-items: center; }

.indexgallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  grid-gap: 10px; }
  .indexgallery .indexgallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

section {
  margin: 50px; }

.mainseccion {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .mainseccion .mainseccion__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .mainseccion .mainseccion__texto h3 {
    font-size: 20px;
    text-align: justify; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  grid-gap: 10px; }
  .gallery .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

footer {
  width: 100%;
  text-align: center;
  padding: 10px; }
  footer h4 {
    color: gray; }

nav ul {
  list-style: none; }
  nav ul a {
    text-decoration: none;
    color: black; }

@media only screen and (min-width: 320px) {
  .mainseccion {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

@media only screen and (min-width: 768px) {
  .mainseccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media only screen and (min-width: 320px) {
  .indexgallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

@media only screen and (min-width: 768px) {
  .indexgallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media only screen and (min-width: 320px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .container div h3 {
    font-size: 20px; } }

@media only screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .container div h3 {
    font-size: 30px; } }
