$bg-color: #b0c4bd;
$font-color: #ffffff;

//header

.header__logo{
    background-color: $bg-color;
}

.header__menu--color{
    color: $font-color;
}

.navbar-light .navbar-nav .nav-link{
    color: $font-color;
}

// contacto

input[type="submit" i]{
    background: $font-color;
}

// footer

footer{
    background-color: $bg-color;
}