*{
    margin: 0;
    padding: 0;
}

//index//////////////////////////////////////

    //header
header{
    width: 100%;
    margin-bottom: 50px;
}

.navbar-collapse{
    flex-grow: 0;
}

    //carousel

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

    //galería

.indexgallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 10px;
    

        .indexgallery__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

//index - about//////////////////////////////////////

    //sección principal

section{
    margin: 50px;
}

.mainseccion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        .mainseccion__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .mainseccion__texto{
            h3{
                font-size: 20px;
                text-align: justify;
            }
        }
}

//wedding - couples - kids - product//////////////////////////////////////

    //foto principal


    //galeria

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 10px;

        .gallery__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

//footer//////////////////////////////////////

footer{
    width: 100%;
    text-align: center;
    padding: 10px;

        h4{
            color: gray;
        }
}

nav{
    ul{
        list-style: none;
        a{
            text-decoration: none;
            color: black;
        }
    }
}

//contact////////////////


// Responsive ////////////////////////

@media only screen and (min-width: 320px){
    .mainseccion{
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}
    .mainseccion__imagen{
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
}
    .mainseccion__imagen--elemento{
        width: 80%;
        height: 380px;
    }

    .indexgallery{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}

// Wedding - couples - kids - product

// Foto principal

    .pages{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
}
    .pages__fotoPrincipal{
        width: 100%;
}


    .gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}
    .container{
        div{
            h3{
                font-size: 20px;
            }
        }
    }
}

////////////////////////////////////////////

@media only screen and (min-width: 480px){
    .mainseccion{
        margin-top: 50px;
}
    .mainseccion__imagen--elemento{
        width: 80%;
        height: 520px;
}
}

///////////////////////////////////////////

@media only screen and (min-width: 600px){
    .mainseccion{
        margin-top: 50px;
}
    .mainseccion__imagen--elemento{
        width: 80%;
        height: 640px;
}
}

///////////////////////////////////////////

@media only screen and (min-width: 768px){
    .mainseccion{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .mainseccion__imagen--elemento{
        width: 80%;
        height: 740px;
    }
    .indexgallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .container{
        div{
            h3{
                font-size: 30px;
            }
        }
    }
}

///////////////////////////////////////////

@media only screen and (min-width: 1024px){
    .mainseccion{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .mainseccion__imagen--elemento{
        width: 80%;
        height: 100%;
    }
}