//index//////////////////////////////////////

section{
    margin: 50px;
}

    //header
header{
    margin-bottom: 50px;
}

    //carousel

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

    //galería

.indexgallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 10px;

        .indexgallery__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

//index - about//////////////////////////////////////

    //sección principal

.mainseccion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        .mainseccion__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .mainseccion__texto{
            h3{
                font-size: 20px;
                text-align: justify;
            }
        }
}

//wedding - couples - kids - product//////////////////////////////////////

    //foto principal


    //galeria

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 10px;

        .gallery__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

//footer//////////////////////////////////////

footer{
    text-align: center;
    padding: 10px;

        h4{
            color: gray;
        }
}

nav{
    ul{
        list-style: none;
        a{
            text-decoration: none;
            color: black;
        }
    }
}

//contact////////////////